<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <title>Ratioed</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css" />
    <link rel="stylesheet" href="https://npmcdn.com/tachyons-font-family@4.2.5/css/tachyons-font-family.min.css" />
    <link rel="stylesheet" href="static/badtweets/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/xhb6vyc.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/badtweets/favicons/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="static/badtweets/favicons/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="static/badtweets/favicons/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="static/badtweets/favicons/favicon-16x16.png" />
    <link rel="manifest" href="static/badtweets/favicons/site.webmanifest" />
    <link rel="mask-icon" href="static/badtweets/favicons/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
  </head>

  <body>
    <header class="w-100">
      <h1 id='title'>Ratioed</h1>
    </header>
    <main class="flex h-100 w-100 center" id="main-window">
      <aside class="border fl w-30 h-100 pa3 relative sticky sidebar">
        <div id="sidebox" class="pa3">
          <div class="text-input">
            <input id="handle-entry" type="text" name="username"/><label for="handle-entry">@</label>
          </div>
          <br>
          <input class="submit" type="submit" id="submit" value="Submit" />
          <br>
          <div id="error-window"></div>
          <br>
        </div>
      </aside>
      <section class="main-section pa3 fl w-70">
        <div id="load-div"></div>
        <div id="tweet-div">
          <div id='about'>
            <p>Twitter is mostly a hellpit of screams of pure agony and Nazi propaganda masquerading as sheriff badges, but a tweet that achieves "The Ratio" is a tweet that is uniquely, empirically bad.</p>
            <p>Since Twitter has no downvote functionality, the only way for an individual user to make their derision known is by replying to a tweet with "eat a poop" or "shut up tammy" or "good morning Senator"</p>
            <p>While the exact mathematical definition of "The Ratio" is up for debate, a "ratioed" tweet is one that has a substantially greater number of replies than either retweets or likes.</p>
            <p>Here at Ratioed, we're here to help you filter out the gold and deliver you only the bad kind of gold that you're only calling "gold" ironically.</p>
            <p>Just enter any Twitter user's handle, and we'll sort through their 250 most recent tweets for just the bad ones. And then just keep hitting the "Load More Tweets" button until you have as much garbage as you need. Extra bad tweets are
              rendered in gold.</p>
            <!-- <p>Also noteworthy is "The Coward's Ratio," which happens when a tweet has a large number of likes and a single-digit number of retweets, indicating widespread support for an unpopular or weird opinion. Those tweets are marked in pink.</p> -->
            <br>
            <p>Ratioed would not be possible without <a target='_blank' href='http://ataspinar.com/'>Ahmet Taspinar</a>'s (<a target='_blank' href='http://twitter.com/ataspinar2'>@ataspinar2</a>) <a target='_blank' href='http://twitterscraper.nl/'>TwitterScraper</a>
              library for Python.</p>
            <p>Special thanks also goes to Deadspin's <a target='_blank' href='http://twitter.com/david_j_roth'>David Roth</a>, who has <a target='_blank' href='https://deadspin.com/the-ratio-is-the-triple-crown-of-bad-tweets-1798441271'>written</a>
              <a target='_blank' href='https://deadspin.com/there-is-now-an-app-for-triple-crown-ratio-lines-on-bad-1821792463'>extensively</a> about the phenomenon of Twitter Ratios matching Major League Baseball batting lines, and Tony Petrangelo,
              creator of <a href="https://thetwitterratio.com/" target="_blank">TheTwitterRatio.com</a> (<a target='_blank' href='https://twitter.com/TheTTCRatio'>@TheTTCRatio</a>), which matches those tweets historical batting lines.</p>
            <br>
            <p>To learn more about The Ratio, read <a target='_blank' href='https://twitter.com/lukeoneil47'>Luke O'Neil</a>'s article in <a target='_blank' href='https://www.esquire.com/news-politics/news/a54440/twitter-ratio-reply/'>Esquire</a>.</p>
          </div>
        </div>
        <div id="good-tweet-error"></div>
      </section>
    </main>
    <script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="static/badtweets/js/wrapper.js"></script>
    <script src="static/badtweets/js/index.js"></script>
    <script id="profile-template" type="text/x-lodash-template">
      <div id="user-infowindow">
        <img id="pic" src=<%= pic %> />
        <h2><%= name %></h2>
        <h3><a id="handle" target="_blank" href=<%= link %>>@<%= handle %></a></h3>
        <small>Tweets: <%= tweets %></small>
        <br/>
        <small>Followers: <%= followers %></small>
        <br/>
        <small>Following: <%= following %></small>
        <br>
        <p>Showing bad tweets since:</p>
        <p id="date-indicator" title=<%= dateAttr %> style="color: green;"><%= dateString %></p>
      </div>
    </script>
    <script id="tweet-template" type="text/x-lodash-template">
      <div class="tweet" id=<%= tweetID %>>
        <h3><%= name %></h3>
        <h4>@<%= handle %></h4>
        <p><%= body %></p>
        <small>Replies: <%= replies %></small>
        <br>
        <small>Retweets: <%= retweets %></small>
        <br>
        <small>Likes: <%= likes %></small>
        <br>
        <small><strong>Ratio: <%= ratio %></strong></small>
        <br>
        <small><a target="_blank" href=<%= link %>><%= datetime %></a></small>
      </div>
    </script>
    <script src="static/badtweets/js/lodash/tweet-template.js"></script>
  </body>

</html>