<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ratioed</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.9.0/css/tachyons.min.css"/>
    <link rel="stylesheet" href="static/badtweets/style.css"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet"/>
    <link rel="stylesheet" href="https://use.typekit.net/xhb6vyc.css">
  </head>
  <body>
    <header class="w-100">
      <h1>Ratioed</h1>
    </header>
    <main class="flex h-100 w-100" id="main-window">
      <aside class="border fl w-30 h-100 pa3 relative sticky sidebar">
        <div id="sidebox" class="pa3">
          <p>Enter a username and see all of their shittiest tweets!</p>
          @<input type="text" id="handle-entry" name="username"/>
          <input type="submit" id="submit" value="Submit" />
          <br>
          <div id="error-window"></div>
          <br>
        </div>
      </aside>
      <section class="main-section pa3 fl w-100">
        <div id="load-div"></div>
        <div id="tweet-div"></div>
        <div id="good-tweet-error"></div>
      </section>
    </main>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="static/badtweets/js/wrapper.js"></script>
    <script src="static/badtweets/js/index.js"></script>
    <script id="profile-template" type="text/x-lodash-template">
      <div id="user-infowindow">
        <img id="pic" src=<%= pic %> />
        <h2><%= name %></h2>
        <h3><a id="handle" target="_blank" href=<%= link %>>@<%= handle %></a></h3>
        <small>Tweets: <%= tweets %></small>
        <br/>
        <small>Followers: <%= followers %></small>
        <small>Following: <%= following %></small>
        <br>
        <p>Currently viewing all bad tweets since</p>
        <p id="date-indicator" title=<%= dateAttr %> style="color: green;"><%= dateString %></p>
      </div>
    </script>
    <script id="tweet-template" type="text/x-lodash-template">
      <div class="tweet">
        <h3><%= name %></h3>
        <small>@<%= handle %></small>
        <p><%= body %></p>
        <p>Replies: <%= replies %></p>
        <p>Retweets: <%= retweets %></p>
        <p>Likes: <%= likes %></p>
        <small><a target="_blank" href=<%= link %>><%= datetime %></a></small>
      </div>
    </script>
    <script src="static/badtweets/js/lodash/tweet-template.js"></script>
  </body>
</html>
