html, body {
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  text-align: center;
  background-color: #49A0EB;
  color: #ffffff;
}

aside {
  background-color: green;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.sidebar {
  min-width: 20%;
  min-height: 100%;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.tweet:nth-child(odd) {
    background: #F8F4EF;
}

.tweet:nth-child(even) {
    background: #F5ECDB;
}

#tweet-div {
  color: black;
}

.tweet {
  font-size: 0;
}

#tweet-div > svg#loadscreen {
  max-height: 500px;
  max-width: 500px;
}

.more-tweets > svg#loadscreen {
  max-height: 50px;
  max-width: 50px;
}
