body {
  font-family: 'Source Sans Pro', sans-serif;
}

div.w-100 {
  text-align: center;
  background-color: #49A0EB;
  color: #ffffff;
}

.tweet:nth-child(odd) {
    background: #F8F4EF;
}

.tweet:nth-child(even) {
    background: #F5ECDB;
}

div.w-30 {
  text-align: center;
}

img#pic {
  max-height: 300px;
  max-width: 300px;
}

div#sidebox {
  position: sticky;
  top: 0px;
}

div.w-70 {
  max-height: 100vh;
  overflow: scroll;
}

div.w-70 > svg#loadscreen {
  max-height: 500px;
  max-width: 500px;
}

div.more-tweets > svg#loadscreen {
  max-height: 25px;
  max-width: 25px;
}
