html, body {
  font-family: 'Source Sans Pro', sans-serif;
  overflow: scroll;
  height: 100%;
}

div.w-100 {
  text-align: center;
  background-color: #49A0EB;
  color: #ffffff;
}

.tweet:nth-child(odd) {
    background: #F8F4EF;
}

.tweet:nth-child(even) {
    background: #F5ECDB;
}

img#pic {
  max-height: 300px;
  max-width: 300px;
}

div#sidebox {
  position: sticky;
  top: 0px;
}

div.sidebar {
  background-color: #49A0EB;
  min-height: 100%;
  text-align: center;
}

div#tweet-div {
  max-height: 100vh;
  overflow: scroll;
}

div#tweet-div > svg#loadscreen {
  max-height: 500px;
  max-width: 500px;
}

div.more-tweets > svg#loadscreen {
  max-height: 50px;
  max-width: 50px;
}
